# LoveLaundry Services Routes
VITE_API_URL=http://localhost:8000
VITE_BILLS_API_URL=http://localhost:8001
VITE_USER_API_URL=http://localhost:8002

# App Configuration
VITE_APP_TITLE="LoveLaundry Management System"
